<body>

  <main>
    <h2>User info</h2>
    <table>
      <tbody>
        <tr>
          <%= image_tag @user.get_profile_image(100,100) %>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
        </tr>
      </tbody>
    </table>

    <div>
      <h2>New book</h2>
      <%= form_with model: @newbook, url: books_path, method: :post do |f| %>
        <div>
          <label for="book_title">Title</label>
          <%= f.text_field :title %>
        </div>
        <div>
          <label for="book_opinion">Opinion</label>
          <%= f.text_area :body %>
        </div>
        <div>
          <%= f.submit 'Create Book' %>
        </div>
        <% end %>
    </div>


    <div></div>
        <tbody>
          <h2>Books</h2>
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Opinion</th>
              </tr>
            </thead>
            <% @books.each do |book| %>
            <tbody>
              <%= link_to @user.profile_image, user_path(@user.id) %>
              <%= link_to book.title, book_path(book.id) %>
              <%= book.body %>
            </tbody>
          </table>
    </div>
    <% end %>

  </main>
</body>